[x-cloak] {
    display: none;
}

a {
    color: #428bca;
}
a:hover {
    color: #2a6496;
}

hr {
    border-color: var(--primary);
    height: 1px;
    margin: 30px 0;
    border-style: dotted;
}

/* Tables */
table,
th,
td {
    border-collapse: collapse;
}
table {
    margin: 25px 0;
}

th {
    font-weight: bold;
    border-bottom-width: 2px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 5px;
    vertical-align: bottom;
    line-height: 1.428571429;
    text-align: left;
    display: table-cell;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}