.btn {
    @apply border border-transparent text-lg px-4 py-2 inline-block;
}

.btn-black {
    @apply text-white bg-dark-grey border-dark-grey hover:text-primary;
}

.btn-primary {
    @apply text-white bg-primary border-primary hover:text-dark-grey;
}

.btn-grey {
    @apply text-white bg-grey-500 border-grey-500 hover:text-dark-grey;
}
