:root {
    --primary: rgb(3, 176, 181, 1);
    --primary-dark: rgb(3, 176, 190, 1);
    --primary-70: rgba(3, 176, 181, 0.7);
    --primary-50: rgba(3, 176, 181, 0.5);
    --primary-30: rgba(3, 176, 181, 0.3);
    --primary-10: rgba(3, 176, 181, 0.1);
    --logo: #0c0c0e;
    --sidebar-icon: rgb(3, 176, 181, 1);
  }
  
  .bg-grad-sidebar {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(49, 49, 49)),
      to(#0c0c0e)
    );
  
    background-image: linear-gradient(
      0deg,
      rgb(49, 49, 49),
      rgb(0, 0, 0)
    );
  }
      